
.animated-fade {
  animation: 0.3s appearance ease-in-out;
}
.aabbaa {
  text-decoration: none;
  color: inherit;
}
.aabbaa:hover {
  text-decoration: none;
  color: inherit;
}
@keyframes appearance {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.Dropdown-root {
  width: 217px;
}