@import url("https://fonts.googleapis.com/css?family=Prompt");

body {
  font-family: defaultFont;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  /* min-width: 1366px; */
}

.font-th {
  font-family: "Prompt", sans-serif;
}

.font-en {
  font-family: defaultFont;
  /* font-family: helvetica, helvetica, helvetica, sans-serif; */
}

.font-de {
  font-family: defaultFont;
}

@font-face {
  font-family: defaultFont;
  src: url("../../static/fonts/iris2.woff");
}

@font-face {
  font-family: irisFont;
  src: url("../../static/fonts/iris.woff");
}

@font-face {
  font-family: boldFont;
  src: url("../../static/fonts/iris3.woff");
}
