@import url("https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700");

@font-face {
  font-family: defaultFont;
  src: url("../../static/fonts/iris2.woff");
}

body {
  font-family: "Prompt", sans-serif !important;
  font-weight: 300 !important;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  color: #747474 !important;
}

.font-th {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
}

.font-en {
  font-family: defaultFont;
}