.graph8-graph-page {
  margin-top: 50px;
}

.graph8-graph-subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.graph8-graph-detail {
  padding: 40px;
}

.graph8-content {
  text-align: center;
}

.graph8-content-text {
  font-size: 18px;
  text-align: left;
  text-indent: 20px;
}

.graph8-content-text-last {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.graph8-bar {
  position: relative;
  width: 500px;
}

.graph8-summary {
  width: 100%;
  text-align: center;
}