.graph4-page {
  margin-top: 50px;
}

.graph4-content-section {
  padding: 30px 50px !important;
}

.graph4-container {
  padding: 10px 0 0 0;
}

.graph4-content-header {
  color: #2079ad;
  font-size: 25px;
  text-align: center;
  margin: 10px auto;
}

.graph4-content-desc-text {
  font-size: 18px;
  text-indent: 20px;
  text-align: center;
}

.graph4-image {
  width: 80%;
}

.graph-4-section {
  /* position: relative; */
  /* width: 450px; */
  /* height: 300px; */
}

.graph-4-desc {
  padding-top: 10px;
  text-align: center;
}