a {
  margin: 0;
  padding: 0;
}

.partner-page {
  font-size: 16px;
  margin: 0 auto;
  padding: 20px 0;
}

.partner-content-header {
  font-size: 20px;
  margin: 10px 0 20px;
  font-weight: 500;
}

.partner-content {
  padding: 5px;
  padding-bottom: 20px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 25px 0;
}

.partner-content p {
  padding-top: 8px;
}

.partner-content-link {
  color: #405bb2 !important;
  text-decoration-line: underline !important;
  cursor: pointer;
}

.partner-content-item {
  margin-top: 15px;
}

.partner-content-item>* {
  word-wrap: break-word;
}

.partner-content>h5 {
  font-weight: bold;
  padding: 9px 0;
}

.partner-page-left-name {
  color: #464c57;
  font-weight: bold;
}

.partner-page-left {
  padding: 75px 20px;
}

.partner-section-header-wrapper {
  padding-bottom: 10px;
  border-bottom: 2px solid #eaeaeb;
}

.partner-content-email {
  display: block;
}