.human-graph {
  margin-top: 50px;
}
.graph-human-graph {
  max-width: 750px;
  margin: 50px auto 40px auto;
  text-align: center;
  border-radius: 5px;
}
.graph-header {
  padding-top: 20px;
}
.graph-human-title {
  color: #2079ad;
  font-size: 25px;
  text-align: center;
  margin: 10px auto;
}
.graph-human-icon {
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.graph-human-icon .tooltiptext {
  visibility: hidden;
  width: 135px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  position: absolute;
  z-index: 100;
  top: -60px;

  font-size: 14px;
}
.graph-human-icon:hover .tooltiptext {
  visibility: visible;
}
.graph-human-graph-left {
  display: flex;
  flex-flow: row-reverse wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 400;
}
.graph-human-graph-right {
  display: flex;
  flex-flow: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-weight: 400;
}
.graph-human-graph-title {
  color: #7a5699;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
}
.graph-human-total {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #7a5699c4;
}
.graph-human-total-all {
  color: #7a5699;
  padding: 0;
  font-size: 25px;
}
.graph-human-graph-title-topic {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #7a5699;
  padding: 2px 0;
}

.spliter {
  border-left: 2px solid #7a569959;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  width: 100%;
  text-align: center;
}
