.partner-table-wrapper {
  margin-top: 30px;
}

.partners-page {
  min-height: 700px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.partners-header {
  margin-top: 40px;
  text-align: center;
}

.partners-title {
  font-size: 25px;
  font-weight: 400;
  color: #755682;
  text-align: center;
  animation: appear-top 1s ease;
}

.partners-content {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  animation: appear-bottom 1s ease;
}
