.graph-page {
  margin: 0 auto;
  padding: 30px 0;
}

.graph-content {
  color: #7f7f7f;
}

.graph-title {
  font-size: 25px;
  color: #2079ad;
  text-align: center;
}

.graph-desc {
  width: 100%;
  margin: 25px auto;
  text-align: center;
  font-size: 18px;
  color: #7f7f7f;
}

.graph-desc>p {
  text-indent: 30px;
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .graph-page>div>div {
    overflow: hidden !important;
    max-width: 100vw !important;
  }
}