.graph-page {
  margin: 0 auto;
  padding: 30px 0;
  min-height: 900px;
}
.graph-content {
  color: #7f7f7f;
}
.graph-title {
  padding: 30px 0;
  font-size: 25px;
  color: #2079ad;
  text-align: center;
}
.graph-desc {
  width: 90%;
  margin-top: 10px;
  text-align: center;
  color: #7f7f7f;
}
.graph-desc > p {
  text-indent: 30px;
  font-size: 15px;
}
.group-btn {
  position: fixed;
  top: 50%;
  right: 50px;
}

.btn-item1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgb(122, 86, 153);
}

.btn-item1::after {
  background-color: #fff;
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
}
