/* .list-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
} */
/* .list-item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */
.list-item.active {
  background-color: #906cb3 !important;
  color: #fff;
}
.list-item:hover {
  background-color: rgba(184, 141, 221, 0.6);
  cursor: pointer;
  transition: all 0.5s ease;
}

@keyframes opacityA {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
.partner-table-item {
  position: relative;
}
.dropdown-list {
  z-index: 3;
  position: absolute;
  top: -200px;
  left: 30px;
  border: 1px solid #000;
  background-color: #fff;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px;
}
.dropdown-item {
  cursor: pointer;
  padding: 15px;
}