.graph9-graph-page {
  margin-top: 50px;
}

.graph9-graph-subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.graph9-graph-detail {
  padding-top: 30px;
}

.graph9-content {
  margin-top: 30px;
  text-align: center;
}

.graph9-content-text {
  text-indent: 20px;
  font-size: 18px;
}

.graph9-content-text-last {
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
}

.graph9-pie {
  width: 500px;
  height: 300px;
}

.graph9-content-section {
  margin-top: 0;
}

.raphael-group-22-creditgroup {
  display: none;
}

.raphael-group-126-creditgroup {
  display: none;
}

.eactfc-graph {
  background-color: transparent !important;
  position: absolute;
  top: -100px;
  left: 0;
}

@media only screen and (max-width: 1199px) {
  .graph9-content {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .graph9-pie {
    margin-top: 20px;
  }

  .graph9-content {
    margin-top: 10px;
  }
}