.partner-description {
  margin-top: 10px;
  text-indent: 30px;
  /* padding: 0 20px; */
}

.partner-details-container {
  padding: 18px 18px 0 18px;
  color: #464c57;
}

.patner-detail-animation-1 {
  animation: appear-top 1s ease-in-out;
}

.patner-detail-animation-2 {
  animation: appear-top 0.7s ease-in-out;
}

.partner-details-header {
  font-weight: 500;
  font-size: 25px;
}

.partner-details-header-wrapper {
  padding-bottom: 10px;
}

.partner-details-header-wrapper::after {
  margin-top: 10px;
  content: "";
  height: 2px;
  width: 90%;
  position: absolute;
  background-color: #eaeaeb;
  animation: slide-line 1s ease-in;
}

@keyframes slide-line {
  0% {
    width: 0px;
  }

  1000% {
    width: 85%;
  }
}