.partner-description {
  margin-top: 10px;
  text-indent: 30px;
}

.partner-details-container {
  padding: 18px;
}

.partner-detail-header {
  font-weight: bold;
  padding: 3px;
}

.partner-detail-header-wrapper {
  padding-bottom: 9px;
  border-bottom: 1px solid #e2d6e2;
}
