.org-page {
  margin-top: 30px;
}

.org-content-section {
  padding: 0px 50px !important;
}
.org-content-header > h1 {
  text-align: center;
  font-weight: 400;
  color: #755682;
  margin-bottom: 70px;
}

.org-content-desc {
}
.org-content-desc-text-title {
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 20px;
}
.org-content-desc-text {
  font-size: 18px;
  text-indent: 20px;
}
.org-content-desc-bottom {
  text-align: center;
  margin-top: 30px;
}
.org-content-desc-bottom-text {
  font-size: 18px;
  text-indent: 20px;
}

.org-image {
  width: 100%;
}