.tr2-graph-page {
  margin-top: 60px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.tr2-graph-detail-wrapper {
  margin-top: 50px;
}

.tr2-graph-desc {
  padding-top: 10px;
  text-align: center;
}

.tr2-graph-title {
  color: #2079ad;
  font-size: 25px;
  text-align: center;
  margin: 10px auto;
}

.tr2-graph-subtitle {
  font-size: 18px;
  text-align: center;
}

.tr2-graph-detail {}

.tr2-graph-detail-text {
  text-indent: 20px;
  font-size: 18px;
  text-align: left;
  line-height: 1.7;
}

.tr2-graph-detail-text-last {
  margin-top: 80px;
  font-size: 16px;
  text-align: center;
}

@keyframes animation-bg {
  0% {
    background-color: #fff;
  }

  100.0% {
    background-color: #f4f4f4;
  }
}